langchain==0.3.27
langchain-chroma==0.2.5
langchain-community==0.3.27
langchain-core==0.3.74
langchain-google-genai==2.1.9
langchain-text-splitters==0.3.9
requests>=2.28.0
beautifulsoup4>=4.11.0
lxml>=4.9.0
pandas>=1.5.0
certifi>=2022.12.7
urllib3>=1.26.0
chardet>=5.0.0
fastapi==0.116.1
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
dotenv==0.9.9
python-dotenv==1.1.1
uvicorn==0.35.0
chromadb==1.0.20
dash==3.2.0
dash_mantine_components==2.2.1
pandas==2.3.1
plotly==6.3.0
wordcloud==1.9.4